<a href="https://colab.research.google.com/github/ougrid/my-knowledge-resource/blob/master/SuperAI_Data_Analysis_student_copy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Analysis

Credits : This material is heavily adopted from 
1. Coursera's Data Analysis with Python offered by IBM (https://www.coursera.org/learn/data-analysis-with-python)
2. Freecodecamp's Data Analysis with Python (https://www.freecodecamp.org/learn/data-analysis-with-python/)
3. Udacity's Intro to Data Science (https://www.udacity.com/course/intro-to-data-science--ud359)

## What is data analysis ?

> Data analysis is a process of inspecting, cleansing, transforming, and modeling data with the goal of discovering useful information, informing conclusions, and supporting decision-making.

source: Wikipedia

Data analysis plays an important role in:
- Discovering useful information
- Answering questions
- Predicting future or unknown

---
## Python Packages for Data Analysis

### 1. Scientifics Computing Libraries
- Pandas : Data structure and tools
- Numpy : multidimensional array, numeric computing.
- Scipy : integrals, solving differential equations, optimization

### 2. Arithmetic Libraries
- scikit-learn
- Statsmodels

### 3. Visualization Libraries
- Matplotlib
- Seaborn

---
## Data Analysis Process
1. Data Extraction (or Importing data)
2. Data preprocessing (Data Wrangling)
3. Analysis

---
## Today schedule
- Numpy
- Pandas
- Data Extraction
  - Import csv, xlsx, json, html
- Data preprocessing
  - Missing data
- Exploratory Data Analysis (EDA)

In [ ]:
import pandas as pd
import numpy as np

# Data Extraction

In [ ]:
data_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
df = pd.read_csv(data_path, header=None)

In [ ]:
# show the first 5 rows using dataframe.head() method
print("The first 5 rows of the dataframe") 
df.head(5)

In [ ]:
# show the last 5 rows using dataframe.tail() method
print("The last 5 rows of the dataframe") 
df.tail(5)

In [ ]:
print(df.columns)

In [ ]:
# create headers list
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
print("headers\n", headers)

In [ ]:
df.columns = headers
df.head(10)

In [ ]:
# '?' needs to be replace with NaN first so that we can use 'dropna' to remove the missing values
df1=df.replace('?',np.NaN)

In [ ]:
df=df1.dropna(subset=["price"], axis=0)
df.head(20)

In [ ]:
#save Dataset
df.to_csv("automobile.csv", index=False)

<h2>Read/Save Other Data Formats</h2>

| Data Formate |        Read       |            Save |
| ------------ | :---------------: | --------------: |
| csv          |  `pd.read_csv()`  |   `df.to_csv()` |
| json         |  `pd.read_json()` |  `df.to_json()` |
| excel        | `pd.read_excel()` | `df.to_excel()` |
| hdf          |  `pd.read_hdf()`  |   `df.to_hdf()` |
| sql          |  `pd.read_sql()`  |   `df.to_sql()` |
| ...          |        ...        |             ... |

## Let's look insight of Dataset

NaN = Not a Number

In [ ]:
# Data type
df.dtypes

In [ ]:
# Provide various summary statistics, EXCLUDING "NaN" values
df.describe()

In [ ]:
# Provide various summary statistics, INCLUDING "NaN" values or "object-typed" attributes
df.describe(include='all')

In [ ]:
df.info()

## Data Extraction Exercise

### QDE-1 : Show the statistics summary of the columns 'length', 'compression-ratio', and 'num-of-cylinders'

### QDE-2 : 
1. Read data from hubway.db into dataframe 
2. What are the column names in table 'stations'
3. Show the statistics summary of table 'stations'
4. Is there any 'Nan'(missing) values in the table

# Data Preprocessing

## Data Wrangling
Data wrangling is the process of converting data from the initial format to a format that may be better for analysis.

we will learn to :
1. Handle missing values
2. Correct data format
3. Standardize and normalize data

In [ ]:
file_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"

headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

auto_df = pd.read_csv(file_url)
auto_df.head()
# Note that without columns' name, DataFrame will consider the first row of the data as the columns' name

In [ ]:
auto_df.columns=headers
auto_df.head()

## 1. Handle missing data

<b>How to work with missing data?</b>

Steps for working with missing data:

<ol>
    <li>Identify missing data</li>
    <li>Deal with missing data</li>
    <li>Correct data format</li>
</ol>

### 1.1 Identify missing data

<b> 1.1.1 Convert "?" to NaN using </b>

`.replace(A,B)` to replace A by B

In [ ]:
auto_df.replace("?", np.nan)

In [ ]:
auto_df.head()

In [ ]:
# Why the dataframe still contains "?", even we replace it with "NaN"
# To solve this issue,
# 1. Assign to other variable
auto_nan_df = auto_df.replace("?", np.nan)
auto_nan_df.head()

In [ ]:
# 2. Inplace assignment
auto_df.replace("?", np.nan, inplace=True)

In [ ]:
auto_df.head()

<b> 1.1.2 Evaluating for missing data </b>

The missing values are converted by default. We use the following functions to identify these missing values. There are two methods to detect missing data:

* `.isnull()`
* `.notnull()`

The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [ ]:
missing_data = auto_df.isnull()
missing_data.head()

**True** means the value is a missing value while **False** means the value is not a missing value.

<b> 1.1.3 Count missing values in each column</b>

Using a for loop in Python, we can quickly figure out the number of missing values in each column. As mentioned above, **"True"** represents a missing value and **"False"** means the value is present in the dataset.  In the body of the for loop the method ".value_counts()" counts the number of **"True"** values.

In [ ]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

In [ ]:
# What missing_data.columns.values.tolist()
missing_data.columns

In [ ]:
missing_data.columns.values

In [ ]:
missing_data.columns.values.tolist()

### 1.2 Deal with missing data

<b>How to deal with missing data?</b>

<ol>
    <li>Drop data<br>
        a. Drop the whole *row*<br>
        b. Drop the whole *column*
    </li>
    <li>Replace data<br>
        a. Replace it by *mean*<br>
        b. Replace it by *frequency*<br>
        c. Replace it based on *other functions*
    </li>
</ol>

Whole columns should be dropped only if most entries in the column are empty. In our dataset, none of the columns are empty enough to drop entirely.
We have some freedom in choosing which method to replace data; however, some methods may seem more reasonable than others. We will apply each method to many different columns:

<b>Replace by mean:</b>

<ul>
    <li>"normalized-losses": 41 missing data, replace them with mean</li>
    <li>"stroke": 4 missing data, replace them with mean</li>
    <li>"bore": 4 missing data, replace them with mean</li>
    <li>"horsepower": 2 missing data, replace them with mean</li>
    <li>"peak-rpm": 2 missing data, replace them with mean</li>
</ul>

<b>Replace by frequency:</b>

<ul>
    <li>"num-of-doors": 2 missing data, replace them with "four". 
        <ul>
            <li>Reason: 84% sedans is four doors. Since four doors is most frequent, it is most likely to occur</li>
        </ul>
    </li>
</ul>

<b>Drop the whole row:</b>

<ul>
    <li>"price": 4 missing data, simply delete the whole row
        <ul>
            <li>Reason: price is what we want to predict. Any data entry without price data cannot be used for prediction; therefore any row now without price data is not useful to us</li>
        </ul>
    </li>
</ul>

<b> 1.2.1 Replace by mean </b>

In [ ]:
# Calculate the mean value for the "normalized-losses"
avg_norm_loss = auto_df["normalized-losses"].astype("float").mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)

In [ ]:
# Replance "NaN" with mean
auto_df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)
print(auto_df["normalized-losses"])

<b> 1.2.2 Replace by frequency </b>

In [ ]:
auto_df["num-of-doors"]

In [ ]:
# count the values present in a particular column
auto_df["num-of-doors"].value_counts()

In [ ]:
auto_df["num-of-doors"].value_counts().idxmax()

In [ ]:
# Replace the missing values by the most frequent
auto_df['num-of-doors'].replace(np.nan, "four", inplace=True)
print(auto_df['num-of-doors'])

<b> 1.2.3 Drop row the whole row </b>

In [ ]:
# simply drop whole row with NaN in "price" column
auto_df.dropna(subset=["price"], axis=0, inplace=True)

# reset index, because we droped two rows
auto_df.reset_index(drop=True, inplace=True)

In [ ]:
auto_df.head()

##### Exercise
Replace by mean for the following columns
- stroke
- bore
- horsepower
- peak-rpm

### 1.3 Correct data format
<p>The last step in data cleaning is checking and making sure that all data is in the correct format (int, float, text or other).</p>

In Pandas, we use:

- `.dtypes` to check the data type
- `.astype()` to change the data type

In [ ]:
auto_df.dtypes

In [ ]:
# For example, 'bore' and 'stroke' variables are numerical values that describe the engines, so we should expect them to be of the type 'float' or 'int'
# Let's convert data type to proper format

auto_df[["bore", "stroke"]] = auto_df[["bore", "stroke"]].astype("float")
auto_df[["normalized-losses"]] = auto_df[["normalized-losses"]].astype("int")
auto_df[["price"]] = auto_df[["price"]].astype("float")
auto_df[["peak-rpm"]] = auto_df[["peak-rpm"]].astype("float")

In [ ]:
auto_df.dtypes

## 2. Data Standardization
<b>What is standardization?</b>

<p>Standardization is the process of transforming data into a common format, allowing the researcher to make the meaningful comparison.</p>
<p>Data standardization is also a term for a particular type of data normalization where we subtract the mean and divide by the standard deviation.
</p>

<p> The most common standardization technique is called "z-score"</p>
<p>
$x'=\frac{x-\mu}{\sigma}$
<p/>
<p> The standardized data will have zero mean and unit standard deviation</p>

<b>Example</b>

<p>Transform mpg to L/100km:</p>
<p>In our dataset, the fuel consumption columns "city-mpg" and "highway-mpg" are represented by mpg (miles per gallon) unit. Assume we are developing an application in a country that accepts the fuel consumption with L/100km standard.</p>
<p>We will need to apply <b>data transformation</b> to transform mpg into L/100km.</p>

<p>The formula for unit conversion is:<p>
L/100km = 235 / mpg
<p>We can do many mathematical operations directly in Pandas.</p>

In [ ]:
auto_df.head()

In [ ]:
auto_df['city-L/100km'] = 235/auto_df['city-mpg']
auto_df.head()

#### Exercise

Transform mpg to L/100km in the column of "highway-mpg" and add to the new column named "highway-L/100km"

## 3. Data Normalization

<b>Why normalization?</b>

<p>Normalization is the process of transforming values of several variables into a similar range. Typical normalizations include scaling the variable so the variable average is 0, scaling the variable so the variance is 1, or scaling the variable so the variable values range from 0 to 1.
</p>

<p>
$x'=\frac{x - x_{min}}{x_{max} - x_{min}}$
</p>

<b>Example</b>

<p>To demonstrate normalization, let's say we want to scale the columns "length", "width" and "height".</p>
<p><b>Target:</b> would like to normalize those variables so their value ranges from 0 to 1</p>
<p><b>Approach:</b> replace original value by (original value)/(maximum value)</p>

In [ ]:
auto_df[['length','width']]

In [ ]:
# replace (original value) by (original value)/(maximum value)
auto_df['length'] = auto_df['length']/auto_df['length'].max()
auto_df['width'] = auto_df['width']/auto_df['width'].max()

In [ ]:
auto_df[['length','width']]

#### Exercise

Normalize the column of 'height', and print out the result

## 4. Binning

<b>Why binning?</b>
<p>
    Binning is a process of transforming continuous numerical variables into discrete categorical 'bins' for grouped analysis.
</p>

<b>Example: </b>

<p>In our dataset, "horsepower" is a real valued variable ranging from 48 to 288 and it has 57 unique values. What if we only care about the price difference between cars with high horsepower, medium horsepower, and little horsepower (3 types)? Can we rearrange them into three ‘bins' to simplify analysis? </p>

<p>We will use the pandas method 'cut' to segment the 'horsepower' column into 3 bins.</p>

In [ ]:
# Convert data to correct format
auto_df['horsepower'] = auto_df['horsepower'].astype(int)

In [ ]:
# Plot the histrogram of horsepower to see the distribution
import matplotlib.pyplot as plt
%matplotlib inline
'''
With this backend, the output of plotting commands is displayed inline within frontends like the Jupyter notebook, 
directly below the code cell that produced it. 
The resulting plots will then also be stored in the notebook document.
'''

plt.hist(auto_df["horsepower"])
# set x/y labels and plot title
plt.xlabel("horsepower")
plt.ylabel("count")
plt.title("horsepower bins")

In [ ]:
# let's categorize horsepower into 3 bins
# To categorize into 3 categories, we need 4 dividers

bins = np.linspace(min(auto_df['horsepower']), max(auto_df['horsepower']), 4)
bins

In [ ]:
# Set group names
group_names = ['Low', 'Medium', 'High']

In [ ]:
auto_df['horsepower-binned'] = pd.cut(auto_df['horsepower'], bins, labels=group_names, include_lowest=True)
auto_df[['horsepower', 'horsepower-binned']].head()

#### Exercise

1. What is the number of vehicles in each bin ???
2. Plot the distribution of each bin

# Exploratiry Data Analysis

To explore features or characteristics to predict price of a car

In [ ]:
import pandas as pd
import numpy as np

# Load data
file_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"

headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

auto_df = pd.read_csv(file_url)
auto_df.columns=headers

# Identify missing values
auto_df.replace("?", np.nan, inplace=True)
#Replace missing values
auto_df["normalized-losses"].replace(np.nan, auto_df["normalized-losses"].astype("float").mean(axis=0), inplace=True)
auto_df["stroke"].replace(np.nan, auto_df['stroke'].astype("float").mean(axis=0), inplace=True)
auto_df["bore"].replace(np.nan, auto_df['bore'].astype("float").mean(axis=0), inplace=True)
auto_df["horsepower"].replace(np.nan, auto_df['horsepower'].astype("float").mean(axis=0), inplace=True)
auto_df["peak-rpm"].replace(np.nan, auto_df['peak-rpm'].astype("float").mean(axis=0), inplace=True)
auto_df['num-of-doors'].replace(np.nan, "four", inplace=True)
auto_df.dropna(subset=["price"], axis=0, inplace=True)

# Correct format
auto_df[["bore", "stroke"]] = auto_df[["bore", "stroke"]].astype("float")
auto_df[["normalized-losses"]] = auto_df[["normalized-losses"]].astype("int")
auto_df[["price"]] = auto_df[["price"]].astype("float")
auto_df[["peak-rpm"]] = auto_df[["peak-rpm"]].astype("float")

# Normalization
auto_df['city-L/100km'] = 235/auto_df['city-mpg']
auto_df['highway-L/100km'] = 235/auto_df['highway-mpg']
auto_df['length'] = auto_df['length']/auto_df['length'].max()
auto_df['width'] = auto_df['width']/auto_df['width'].max()
auto_df['height'] = auto_df['height']/auto_df['height'].max()

## Correlation

In [ ]:
auto_df.corr()

In [ ]:
# Find correlation between columns : bore, stroke, compression-ratio, and horsepower
auto_df[['bore','stroke','compression-ratio','horsepower']].corr()

### Exercise

Why does the **horsepower** column not show up in the correlation table ?

## Continuous Numerical Variables

In order to start understanding the (linear) relationship between an individual variable and the price, we can use "regplot" which plots the scatterplot plus the fitted regression line for the data.

*Please note that our objective is to predict the price of cars using features (columns) in our data.*

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Positive relationship

In [ ]:
# Let's find the scatterplot of "engin-size" and "price"
sns.regplot(x="engine-size", y="price", data=auto_df)
plt.ylim(0,)

In [ ]:
# How about the correlation
auto_df[["engine-size", "price"]].corr()

### Negative relationship

In [ ]:
# highway-mpg vs. price
sns.regplot(x="highway-mpg", y="price", data=auto_df)

In [ ]:
auto_df[['highway-mpg', 'price']].corr()

### Weak linear relationship

In [ ]:
sns.regplot(x="peak-rpm", y="price", data=auto_df)

In [ ]:
auto_df[['peak-rpm', 'price']].corr()

This can be concluded that **enging-size** and **highway-mpg** are good features for predicting car prices, but not **peak-rpm**.

#### Exercise
What is the relationship between "stroke" and "price" ?
Find the correlation  between "stroke" and "price"

## Categorical Variables

These are variables that describe a 'characteristic' of a data unit, and are selected from a small group of categories. The categorical variables can have the type "object" or "int64". A good way to visualize categorical variables is by using boxplots.

In [ ]:
sns.boxplot(x='body-style', y='price', data=auto_df)

<p>We see that the distributions of price between the different body-style categories have a significant overlap, so body-style would not be a good predictor of price. Let's examine engine "engine-location" and "price":</p>

In [ ]:
sns.boxplot(x='engine-location', y='price', data=auto_df)

In [ ]:
sns.boxplot(x='drive-wheels', y='price', data=auto_df)

## Descriptive Statistical Analysis

The *describe* function automatically computes basic statistics for all continuous variables. Any NaN values are automatically skipped in these statistics.

This will show:

- the count of that variable
- the mean
- the standard deviation (std) 
- the minimum value
- the IQR (Interquartile Range: 25%, 50% and 75%)
- the maximum value

In [ ]:
auto_df.describe()

The default setting of "describe" skips variables of type object. We can apply the method "describe" on the variables of type 'object' as follows:

In [ ]:
auto_df.describe(include=['object'])

## Grouping

The "groupby" method groups data by different categories. The data is grouped based on one or several variables, and analysis is performed on the individual groups.

For example, let's group by the variable "drive-wheels". We see that there are 3 different categories of drive wheels.

In [ ]:
auto_df['drive-wheels'].unique()

<p>If we want to know, on average, which type of drive wheel is most valuable, we can group "drive-wheels" and then average them.</p>

<p>We can select the columns 'drive-wheels', 'body-style' and 'price', then assign it to the variable "df_group_one".</p>

In [ ]:
df_group_one = auto_df[['drive-wheels','body-style','price']]
df_group_one = df_group_one.groupby(['drive-wheels'], as_index=False).mean()
df_group_one

In [ ]:
# group by multiple variables
df_gptest = auto_df[['drive-wheels','body-style','price']]
grouped_test1 = df_gptest.groupby(['drive-wheels','body-style'],as_index=False).mean()
grouped_test1

<p>This grouped data is much easier to visualize when it is made into a pivot table. A pivot table is like an Excel spreadsheet, with one variable along the column and another along the row. We can convert the dataframe to a pivot table using the method "pivot" to create a pivot table from the groups.</p>

<p>In this case, we will leave the drive-wheels variable as the rows of the table, and pivot body-style to become the columns of the table:</p>

In [ ]:
grouped_pivot = grouped_test1.pivot(index='drive-wheels',columns='body-style')
grouped_pivot

In [ ]:
grouped_pivot = grouped_pivot.fillna(0) #fill missing values with 0
grouped_pivot

### Exercise

Use 'groupby' function to find the average "price" of each car based on "body-style".

## Correlation and Causation

<p><b>Correlation</b>: a measure of the extent of interdependence between variables.</p>

<p><b>Causation</b>: the relationship between cause and effect between two variables.</p>

<p>It is important to know the difference between these two. Correlation does not imply causation. Determining correlation is much simpler  the determining causation as causation may require independent experimentation.</p>

<p><b>Pearson Correlation</b></p>
<p>The Pearson Correlation measures the linear dependence between two variables X and Y.</p>
<p>The resulting coefficient is a value between -1 and 1 inclusive, where:</p>
<ul>
    <li><b>1</b>: Perfect positive linear correlation.</li>
    <li><b>0</b>: No linear correlation, the two variables most likely do not affect each other.</li>
    <li><b>-1</b>: Perfect negative linear correlation.</li>
</ul>

<b>P-value</b>

<p>What is this P-value? The P-value is the probability value that the correlation between these two variables is statistically significant. Normally, we choose a significance level of 0.05, which means that we are 95% confident that the correlation between the variables is significant.</p>

By convention, when the

<ul>
    <li>p-value < 0.001: we say there is strong evidence that the correlation is significant.</li>
    <li>p-value < 0.05: there is moderate evidence that the correlation is significant.</li>
    <li>p-value < 0.1: there is weak evidence that the correlation is significant.</li>
    <li>p-value > 0.1: there is no evidence that the correlation is significant.</li>
</ul>

In [ ]:
from scipy import stats

Pearson corr and P-value of **wheel-base** and **price**

In [ ]:
pear_coef, p_val = stats.pearsonr(auto_df['wheel-base'], auto_df['price'])
print(pear_coef, p_val)

<h4>Conclusion:</h4>
<p>Since the p-value is $<$ 0.001, the correlation between wheel-base and price is statistically significant, although the linear relationship isn't extremely strong (~0.585).</p>

### Exercise

#### Horsepower vs. Price

#### Length vs. Price

#### Engine-size vs. Price

#### Highway-mpg vs. Price